body {
    background-color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img#draggableImage {
    width: 25%; /* Adjusted from 75% to 25% */
    max-width: 25%;
    cursor: grab; /* Changes the cursor to indicate the image can be grabbed */
}
